---
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'

export const allArticles = await getCollection('articles')

export const getStaticPaths: GetStaticPaths =
	() => allArticles.map(({id}) => ({ params: { id } }))
---
<!doctype html>
<html lang="en">
	<body>
		We don't even need to render the entry's content or access any prop for the build to give up.
	</body>
</html>
