---
import type { CollectionEntry } from 'astro:content'

// import { render } from 'astro:content'

interface Props {
	entry: CollectionEntry<'articles'>
}

// const { entry: article } = Astro.props as Props
// const { Content } = await render(article)
---
<!doctype html>
<html lang="en">
	<body>
		We don't even need to render the entry for the build to give up.
		<!-- {Content} -->
	</body>
</html>
